<h1>Daily Activities</h1>

<div id="title-here">

   <h2 id="add-child-name2" value="{{data2}}">{{data2}}</h2>
    <ul>
        {{#each data}}
        <li><h4>{{this.activity_option}}</h4></li>
        <li>{{activity_type}}</li> <span>{{activity_time}}</span>
        {{/each}}
    </ul>

</div>

<div id="title-here">

</div>


<div>
    <h3 id="add-child-name2" value="{{data2}}" hidden="true">{{data2}}</h3>
    <h4>Add acitivity</h4>
    <div class="">
        <select id="admin-activity-option" type="text" placeholder="Type activity">
            <option  aria-placeholder="Select">Select one</option>
            <option value="Meals">Meals</option>
            <option value="Snack">Snack</option>
            <option value="Play time">Play time</option>
            <option value="Learnig">Learning</option>
            <option value="Nap time">Nap time</option>
            <option value="Daiper">Daiper</option>
        </select>
    </div>
    <input id="add-activity" type="text" placeholder="Type activity">
    <button id="get-activity">Add activity</button>
    <a href="../administrator"><button>Go back</button></a>
</div>

{{!-- <script>

    function getList() {
        var childName = $("h2").text();
        $.ajax
            ({
                url: "/api/admin-activity-site/:" + childName,
                method: "GET"
            })
            .then(function (results) {
                console.log(results);
                var newResults = results;
                var div = $("<div>");
                div.append(newResults);
                $("#title-here").append(div);
            })
    }
    getList();
</script> --}}