<br>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 "></div>
        <div class="col-1 "><img src="/images/babyfeet.jpg" alt="logo" height="100" width="150"></div>
        <div class="col-6 text-center ">
            <div class="row">
                <div class="title-first title-box"><span class="letters">L</span></div>
                <div class="title-second title-box"><span class="letters">I</span></div>
                <div class="title-third title-box"><span class="letters">T</span></div>
                <div class="title-fourth title-box"><span class="letters">T</span></div>
                <div class="title-fifth title-box"><span class="letters">L</span></div>
                <div class="title-sixth title-box"><span class="letters">E</span></div>
                <div class="col-1"></div>
                <div class="title-seventh title-box"><span class="letters">F</span></div>
                <div class="title-eighth title-box"><span class="letters">E</span></div>
                <div class="title-ninth title-box"><span class="letters">E</span></div>
                <div class="title-tenth title-box"><span class="letters">T</span></div>
                <!-- <div class="title-ninth title-box"><span class="letters">T</span></div>
                    <div class="title-tenth title-box"><span class="letters">E</span></div>
                    <div class="title-tenth title-box"><span class="letters">R</span></div> -->
            </div>
        </div>
        <div class="col-1 "></div>
        <div class="col-2 ">
            <span class="client-name"><i class="fa fa-user"> {{data2}}</i> </span>
            <a href="/logout"> <button>LogOut</button> </a>
        </div>

    </div>
</div>
<br>
<br>
<div class="row">
    <div class="col-3 color-one"></div>
    <div class="col-3 color-two"></div>
    <div class="col-3 color-three"></div>
    <div class="col-3 color-four"></div>
</div>
{{!-- <br>
<br> --}}

<div class="container-fluid" style="background-image:linear-gradient(yellow, blue);">
    <br>
    <br>
    <div class="container ">
        <div class="row">
            <div class="col-6">
                <img src="/images/user.png" alt="user" style="border-radius: 5%;">
                <div>
                <h6 id="child-name-val" hidden="true">{{data2}}</h6> --}}
                <label for="message-to-admin">Send Urgent Message!</label>
                <input type="text" id="new-message">
                <button id="send-message">Submit</button>
            </div>
            </div>


            <div class="col-6 " style="background-color:white; border-radius: 5%;">
                <h2>{{data3}}</h2>
                <ul style="list-style-type: none; font-family: 'Lilita One', cursive;" class="scroll-list">
                    {{#each data}}
                    {{!-- <h2>{{child_name}}</h2> --}}
                    <li>
                        <h3>{{this.activity_option}}</h3>
                    </li>
                    <li>{{activity_time}}</li>
                    <li>{{activity_type}}</li>
                    <br>
                    {{!-- <li>{{activity_type}}</li> --}}
                    {{/each}}
                </ul>
            </div>
        </div>


    </div>