<h1>Children list</h1>
<br>

<ul>
    {{#each data}}
    <li>
        <h2 class="child-activity" value="{{child_name}}">{{child_name}}</h2>
        <a href="/api/admin-activity-site/{{child_name}}"><button class="child-activity-info">Daily
                Acitivities</button></a>
        <a href="/api/admin-message-site/{{child_name}}"><button class="child-activity-info">messages</button></a>
    </li>

    {{!-- <li>{{activity_type}}</li> --}}
    {{/each}}
</ul>

<a href="/api/adiministrator/messages"><button>messages</button></a>
<br>
<a href="/api/adiministrator"><button>Show children</button></a>
<br>

<div>
    {{#each messageData}}
    <h2>{{child_name}}</h2>
    <p>{{message_from_parent}}</p>
    {{/each}}
</div>
<input id="add-child" type="text">
<br>
<input id="add-parent" type="text">
<button id="get-one"> add child</button>
<hr>
<input id="child-name-activity" type="text">
<br>
<input id="add-activity" type="text">
<button id="submit-activity"> add activity</button>